{{#Escut}}
  <div class="value value--top">?</div>

  <hr>

  <div class="type">Escut</div>
  <div class="value value--image value--front">{{Escut}}</div>
{{/Escut}}

--

<div id=answer class="value value--top">{{Comarca}}</div>
{{#Comarca info}}<div class="info">{{Comarca info}}</div>{{/Comarca info}}

<hr>

<div class="type">Escut</div>
<div class="value value--image value--back">{{Escut}}</div>
{{#Escut similarity}}<div class="info">Escut similar a {{Escut similarity}}.</div>{{/Escut similarity}}